{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card mt-5">
            <div class="card-body">
                <h2 class="card-title text-center">Iniciar sesión</h2>
                <form method="POST" action="{{ url_for('main.login') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {{ form.email(class="form-control form-control-lg") }}
                        {% if form.email.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {{ form.password(class="form-control form-control-lg") }}
                        {% if form.password.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
